
.statusCommon {
    margin:0px;
    background-color: #20202050;
    border-color: #101010F0;
    padding:8px;
    font-style: italic;
    font-family:"Arial";
    text-align: right;
    position:fixed;
    right:14px;
    bottom:24vh;
    z-index:1000;
    width:30%;
    box-shadow: 0 4px 8px rgba(34, 34, 30, 0.2); /* subtle shadow */
}


.statusTimer
{
    margin-left:16px;
}

.statusOk {
    color: #4CAF50; /* Green */
    
}

.statusError {
    color: #F44336; /* Red */
    
}
