
.statusCommon {
    margin:0px;
    background-color: #20202050;
    border-color: #101010F0;
    padding:8px;
    font-style: italic;
    font-family:"Arial";
    position:fixed;
    right:16px;
    bottom:16px;
    z-index:1000;
    box-shadow: 0 4px 8px rgba(34, 34, 30, 0.2); /* subtle shadow */
}

.statusOk {
    color: #4CAF50; /* Green */
    
}

.statusError {
    color: #F44336; /* Red */
    
}
