
.coronabar {
    height: 40px;
    vertical-align: middle;
    background-color: var(--forest1);
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #fe917b;
    font-size: 42px;
    margin: 0px;
    padding-left: var(--pageindent)
}
