
.App {
}

.pagebackground {
    width: 50%;
    display: inline-block;
    flex-flow: column;
    align-items: center;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #222230CC;
    border:1px solid #342365AA;
    padding:22px;
    color:aliceblue;
}

.App-header {
    background: linear-gradient( #313150, #313150 13%, #101020 100% );
    min-height: 100px;
    vertical-align: middle;
    font-size: 34px;
    color: white;
    padding-left: 16px;
    text-align: left;
    font-family: 'Open Sans', 'Arial', Arial, sans-serif
}

H1 {
    margin: 0px;
    margin-bottom:14px;
    font-size:28pt;
    font-family:'Open Sans', 'Arial', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    border-bottom:1px double black;
}

H2 {
    margin: 0px;
    font-family:Cooper,Algerian,Georgia, 'Times New Roman', Times, serif;
}

.signature {
    margin: 0px;
    font-size: 28pt;
    font-family: 'Magneto Bold', 'Brush Script MT', Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.background-bottom {
    width: 100vw;
    height: 100vh;
    overflow:clip;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.background-layer1 {
    animation: rotateBackground 25s infinite;
    position: absolute;
    left: 000vw;
    top: 000vh;
    width: 100vw;
    height: 100vh;
}


.background-layer-container {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 200vw;
    height: 200vh;
    border: 8px solid #00000060;
    overflow:clip;
}

.background-layer2 {
    position: absolute;
    left: 0vw;
    top: 200vh;
    width: 250vw;
    height: 250vh;
    border: 8px solid #000000;
    background-color:#000000;
}

.background-layer3 {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 200vh;
    height: 200vh;
    border: 8px solid black;
    background-image: url('images/transparent4x5deer.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-children {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.topspace {
    margin-top: 50px;
}