
:root {
    --forest0: rgb(68, 98, 90);
    --forest1: rgb(32, 64, 61);
    --forest2: rgb(17, 55, 42);
    --forest3: rgb(7, 42, 35);
    --rock0: rgb(173, 172, 151);
    --rock1: rgb(152, 143, 134);
    --rock2: rgb(37, 30, 14);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-link {
    color: floralwhite;
}

.countryvideogamesroot {
    margin: 0px;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
}

/* style={{display:'flex',flexDirection:'column',width:'25%',backgroundColor:'#006644'}} */

.countryvideogamesnavigation {
    margin: 0px;
    display: grid;
    background-color: var(--forest1);
    grid-template-columns: 1fr;
    grid-template-rows: 150.0px 35.0px 105.0px 35.0px 105.0px 1fr;
    grid-column: 1;
    height: 100%;
}

.countrytitlebox {
    height: 100%;
    vertical-align:bottom;
}

.countryvideogamescontent {
    margin: 0px;
    overflow: auto;
    width: 100%;
    height: 100%;
    grid-column: 2;
    display: flex;
    flex-flow: column;
}

.contentbackground {
    background-color: #F5E9D3;
    border: 32px solid var(--forest3);
    padding: 8px;
    height: 100%;
}

.countrytitle1 {
    font-size: 42px;
    margin: 0px;
    color: darkslategrey;
}

.countrytitlespacer {
    font-size: 18px;
    font-family: 'Jost';
    text-align: center;
    vertical-align: middle;
    padding-top:5px;
    color: #D1843D;
    background-color: var(--forest1);
    margin-left: 32px;
    margin-right: 32px;
    height:100%;
}

.countrytitlebox {
    color: #D1843D;
    border-bottom: dashed 1px #D1843D;
    border-top: dashed 1px #D1843D;
    height: 70px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom:4px;
}

.countrycontainer {
    width: 100%;
    height: 1fr;
    display: flex;
    align-items: end;
    justify-content: center;
}

.countrytitle2a {
    font-size: 22px;
    font-family: 'Jost';
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    color: #D1843D;
}

.countrytitle2b {
    font-size: 24px;
    font-family: 'Jost';
    margin-left: 32px;
    margin-right: 32px;
    color: #D1843D;
    text-align: center;
}

.countrylinks {
    font-size: 22px;
    font-family: 'Jost';
    border-color: red;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35.0px 35.0px 35.0px 35.0px;
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.countrylinks2 {
    font-size: 22px;
    font-family: 'Jost';
    border-color: red;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35.0px 35.0px 35.0px 35.0px;
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.countrylinks3 {
    font-size: 22px;
    font-family: 'Jost';
    border-color: red;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35.0px 35.0px 35.0px 35.0px;
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

H1 {
    margin: 0px;
    margin-bottom: 14px;
    font-size: 24pt;
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: normal;
    color: #D1843D;
    background-color: var(--forest1);
    margin-left: -8px;
    padding: 8px;
}

H2 {
    margin: 0px;
    font-size: 20pt;
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: normal;
    padding: 0px;
    text-transform: uppercase;
}

H3 {
    margin: 0px;
    font-size: 16pt;
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: normal;
    padding: 0px;
}

p {
    margin-bottom: 1.5em;
}

a {
    background-color: var(--rock1);
    padding: 3px;
    color: white;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 2px #00000044;
    transition: box-shadow 0.2s ease, transform 0.2s ease, border 0.2s ease;
    text-decoration:none;
}

a:active {
    box-shadow: 0 2px #00000044;
    transform: translateY(3px);
}

a:hover {
    background-color: var(--rock2);
    border: 2px solid #48524655;
    box-shadow: 0 2px #00000044;
    color: white;
}

a .selected {
    background-color: var(--rock2);
    border: 2px solid #48524655;
    box-shadow: 0 2px #00000044;
    color: white;
}
