
:root {
    --forest0: rgb(68, 98, 90);
    --forest1: rgb(32, 64, 61);
    --forest2: rgb(17, 55, 42);
    --forest3: rgb(7, 42, 35);
    --forest5: rgb(107, 142, 135);
    --forestback: rgb(107, 142, 115);
    --rock0: rgb(173, 172, 151);
    --rock1: rgb(152, 143, 134);
    --rock2: rgb(37, 30, 14);
    --pageindent: 16px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
}

.countryvideogamesroot {
    margin: 0px;
    position: fixed;
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: max(0,1fr);
}

.countryvideogamesnavigation {
    background-color: var(--forest1);
    grid-column: 1;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.countryvideogamescontent {
    grid-column: 2;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.contentwrapper {
    min-width: 600px;
    max-width: 75%;
}

.content {
    padding-left: 16px;
    margin-right: 16px;
    width:100%;
}

.card {
    background-color: white;
}

.contentbackground {
    background-color: var(--forestback);
    border-left: 32px solid var(--forest3);
    border-right: 32px solid var(--forest3);
    width: 90%;
    height: 100%;
}

.contentbackgroundtext {
    background-color: white;
    border-left: 32px solid var(--forest3);
    border-right: 32px solid var(--forest3);
    width: 90%;
    height: 100%;
    border-radius: 8px;
}

.contentbackgroundform {
    background-color: white;
    border-left: 32px solid var(--forest3);
    border-right: 32px solid var(--forest3);
    width: 90%;
    height: 100%;
    border-radius:8px;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App-link {
    color: floralwhite;
}

/* style={{display:'flex',flexDirection:'column',width:'25%',backgroundColor:'#006644'}} */

.titlearea {
    height: 80px;
    vertical-align: middle;
    background-color: var(--forest1);
    border-bottom:4px solid rgb(7, 42, 35);
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #D1843D;
    margin: 0px;
    padding-left:var(--pageindent)
}

.countrytitlebox {
    height: 100%;
    vertical-align:bottom;
}


.countrytitle1left {
    font-size: 30px;
    margin: 0px;
    margin-right:48px;
    text-align: right;
    color: darkslategray;
}

.countrytitle1right {
    font-size: 30px;
    margin: 0px;
    color: #D1843D;
    text-align: center;
}

.countrylabel {
    font-size: 20px;
    font-family: 'Jost';
    text-align: right;
    vertical-align: middle;
    color: #D1843D;
    background-color: var(--forest1);
    margin-left: 32px;
    margin-right: 32px;
}

.countrylabelright {
    font-size: 16px;
    font-family: 'Jost';
    text-align: left;
    vertical-align: middle;
    color: var(--forest1);
    margin-top: 8px;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.section {
    height: 20px;
    font-size: 18px;
    font-family: 'Jost';
    text-align: left;
    color: var(--forest1);
    margin-top: 16px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 16px;
    padding-bottom: 0px;
    text-decoration: underline;
}

.sectionbuttons {
    font-size: 18px;
    font-family: 'Jost';
    text-align: left;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-left: 0px;
    padding-left: 16px;
    padding-bottom: 0px;
    height:auto;
}

.subsection {
    height: 20px;
    font-size: 14px;
    font-family: 'Jost';
    text-align: left;
    color: var(--forest1);
    margin-top: 16px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 16px;
    padding-bottom: 0px;
}


.countrytitlebox {
    color: #D1843D;
    border-bottom: dashed 1px #D1843D;
    border-top: dashed 1px #D1843D;
    height: 50px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom:4px;
    padding-top:4px;
}

.countrycontainer {
    width: 100%;
    height: 1fr;
    display: flex;
    align-items: center;
    justify-content: end;
}

.countrytitle2left {
    font-size:24px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight:200;
    text-align: right;
    vertical-align: middle;
    color: darkslategray;
}

.countrytitle2right {
    font-size: 24px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin-left: 0px;
    margin-right: 32px;
    color: #D1843D;
    text-align: left;
}

.countrylinks {
    font-size: 22px;
    font-family: 'Jost';
    border-color: red;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35.0px 35.0px 35.0px 35.0px;
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align:right;
}

.countrylinks2 {
    font-size: 22px;
    font-family: 'Jost';
    border-color: red;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35.0px 35.0px 35.0px 35.0px;
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
}

.countrylinks3 {
    font-size: 22px;
    font-family: 'Jost';
    border-color: red;
    border-width: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35.0px 35.0px 35.0px 35.0px;
    gap: 8px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
}


p {
    margin-bottom: 1.5em;
}

a {
    padding: 3px;
    color: var(--rock0);
    text-align: right;
    font-size: 14px;
    border-bottom:1px solid var(--rock0);
    transition: transform 0.2s ease, border 0.2s ease, background-color 0.2s ease;
    text-decoration:none;
}

a:active {
    box-shadow: 0 2px #00000044;
}

a:hover {
    background-color: var(--rock2);
    border: 1px solid #48524655;
    box-shadow: 0 2px #00000044;
    color: white;
}

a .selected {
    background-color: var(--rock2);
    border: 1px solid #48524655;
    box-shadow: 0 2px #00000044;
    color: white;
}

.buttonBar {
    margin-top:16px;
    flex-direction: row;
    display: flex;
}


button {
    padding: 3px;
    color: var(--forest1);
    text-align: left;
    font-size: 14px;
    box-shadow: 0 2px #A7A77844;
    transition: box-shadow 0.2s ease, transform 0.2s ease, border 0.2s ease;
    text-decoration: none;
    width: 150px;
    margin-right: 8px;
    border:#48524655 solid 1px;
    border-radius: 3px;
}

.button-selected {
    color: black;
    background-color:var(--forest5);
}

input {
    padding: 3px;
    font-size: 18px;
    width: 100%;
    border: 1px solid var(--forest5);
}

input:active {
    border: solid 1px var(--forest2);
}

input:focus {
    border: solid 1px var(--forest2);
}

button:active {
    box-shadow: 0 2px #00000044;
}

button:hover {
    background-color: var(--rock2);
    border: 1px solid #48524655;
    box-shadow: 0 2px #00000044;
    color: white;
}

button .selected {
    background-color: var(--rock2);
    border: 2px solid #48524655;
    box-shadow: 0 2px #00000044;
    color: white;
}

.newstory {
    background-color: white;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 50%;
    padding: 16px;
    border-radius: 8px;
}

.newstory a {
    background-color: var(--rock1);
    padding: 3px;
    color: white;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px #00000044;
    transition: box-shadow 0.2s ease, transform 0.2s ease, border 0.2s ease;
    text-decoration: none;
}

.newstory a:active {
    box-shadow: 0 2px #00000044;
    transform: translateY(3px);
}

.newstory a:hover {
    background-color: var(--rock2);
    border: 2px solid #48524655;
    box-shadow: 0 2px #00000044;
    color: white;
}

.newstory a .selected {
    background-color: var(--rock2);
    border: 2px solid #48524655;
    box-shadow: 0 2px #00000044;
    color: white;
}

.googlead {
    position:fixed;
    width:100vw;
    height:25vh;
}

.datagridcontrolcontainer
{
    margin:16px;
}

.objectlist {
    background-color: white;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
    max-height: 60vh;
    overflow: auto;
    width:100%;
    height:100%;
}

.objectpanel {
    background-color: white;
    border-radius: 4px;
}
