.EditForm {
    margin: 0px;
    font-weight: normal;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(34, 34, 30, 0.08); /* subtle green shadow */
}

.coronatitle {
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: normal;
    padding-left: 0px;
    color: var(--forest1);
    text-align: left;
}

.coronasubtitle {
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: normal;
    padding-left: 0px;
    color: var(--forest1);
    text-align: left;
}

.coronachaptertitle {
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding-left: 0px;
    color: dimgrey;
    text-align: left;
    margin-right: -16px;
    margin-top: 8px;
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 2px;
    height: 1.4em;
    background-color: var(--forest4);
    color: var(--forest3);
}

.coronachaptersubtitle {
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: normal;
    color: var(--forest1);
    text-align: left;
}

.coronaparagraph {
    font-family: 'Jost', 'Open Sans', 'Arial', Arial, sans-serif;
    font-weight: normal;
    color: var(--forest1);
    text-align: left;
}